{% extends 'ShopShopBundle::bundle-layout.html.twig' %}
{%block container%}

<div class="main-container col2-right-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    <a href="{{path ('shop_shop_homepage')}}" title="Go to Home Page">Home</a>
                    <span>/ </span>
                </li>
                <li class="category10">
                    <a href="{{path('shop_shop_categorypage', {'id' : product.categoryId.Id})}}" title="">{{ product.categoryId.categoryName }}</a>
                    <span>/ </span>
                </li>
                <li class="product">
                    <strong>{{product.title}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-main">
              {% if (form.quantity.vars.value|number_format)!= null%}


                {% for flashMessage in app.session.flashbag.get('notice-failure') %}
                <div id="messages_product_view">
                    <ul class="messages">
                        <li class="error-msg">
                            <ul>
                                <li><span>{{flashMessage}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('notice-success') %}
                <div id="messages_product_view">
                    <ul class="messages">
                        <li class="success-msg">
                            <ul>
                                <li><span>{{flashMessage}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('notice-validator') %}
                <div id="messages_product_view">
                    <ul class="messages">
                        <li class="error-msg">
                            <ul>
                                <li><span>{{flashMessage}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                 {%endfor%}
                {%endif%}


                <div class="product-view">
                    <div class="product-essential">

                        <div class="product-shop">
                            <div class="product-name">
                                <h1>{{product.title}}</h1>
                            </div>

                            <div class="short-description">
                                <h2>Quick Overview</h2>
                                <div class="std">{{product.shortDescription}}</div>
                            </div>

                            <p class="availability in-stock">Availability: 
                                <span>
                                        {% if product.stock !=0 %}
                                        In stock, {{product.stock }} units
                                        {% else %}
                                        Soon to be available
                                        {%endif%}
                                    </span>
                                </p>

                                <div class="price-box">
                                    <span class="regular-price" id="product-price-MyProductID">
                                        <span class="price">{{product.price}} US$</span>
                                    </span>
                                </div>

                                <div class="add-to-box">
                                    <div class="add-to-cart">
                                        <label for="qty">Quantity:</label>
                                        <br>
                                        
                                        <form method='POST' action="{{ path('shop_shop_add') }}">
                                        <input type='hidden' name='id' value={{ product.id }}>
                                        <input name='quantity' value=1  >
                                        <input type='hidden' name='price' value={{ product.Price }}>
                                        <input type='hidden' name='title' value="{{ product.title }}">

                                        <button type="submit" title="Add to Cart" class="button btn-cart" >
                                            <span><span>Add to Cart</span></span>
                                        </button>
                                    </form>
                                   {#   {% include 'ShopShopBundle:Product:add.html.twig' with { 'form': form } %} #}

                                    </div>
                                </div>
                            </div>
                            <div class="product-img-box">
                                <p class="product-image product-image-zoom">
                                    <img id="image" src="{{asset ('bundles/shopshop/image/' ~ product.filename)}}" alt="{{ product.title }}"
                                         title="{{ product.title }}" />
                                </p>
                            </div>
                            <div class="clearer"></div>
                        </div>
                        <div class="product-collateral">
                            <div class="box-collateral box-description">
                                <h2>Details</h2>
                                <div class="std">
                            {{ product.description }}
                                    </div>
                                </div>
                                <p><a href="{{path('shop_shop_categorypage', {'id' : product.categoryId.Id})}}"><span>&laquo; Back to list</span></a></p>

                                <div class="box-collateral box-up-sell">
                                    <h2>You may also be interested in the following product(s)</h2>
                                    <table class="products-grid" id="upsell-product-table">
                                        <tr>
                                                {%for prod in random%}
                                                <td>
                                                    <a href="{{path ('shop_shop_productpage', {'id' : product.categoryId.Id , 'productid': prod.id})}}" title="{{prod.title}}" class="product-image">
                                                        <img src="{{asset ('bundles/shopshop/image/' ~ prod.filename)}}" width="125" height="125" alt="{{prod.title}}" /></a>
                                                    <h3 class="product-name"><a href="{{path ('shop_shop_productpage', {'id' : product.categoryId.Id , 'productid': prod.id})}}" title="{{prod.title}}">{{prod.title}}</a></h3>


                                                    <div class="price-box">
                                                        <p class="minimal-price">
                                                            <span class="price-label">Price:</span>
                                                            <span class="price" id="product-minimal-price-54-upsell">{{prod.price}} US$</span>
                                                        </p>
                                                    </div>
                                                </td> 
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                      {%if cart.getCartItems%}
                    <div class="col-right sidebar">
                    <div class="block block-cart">
                        <div class="block-title">
                            <strong><span>My Cart</span></strong>
                        </div>
                        <div class="block-content">
                            <div class="summary">
                                
                                    {%set nritems =  0%}                                
                                    {%for product in cart.getcartItems%}
                                    {%set nritems = nritems + product.quantity %}
                                    {%endfor%}
                                        <p class="amount">There are <a href="{{path ('shop_shop_cartPage')}}">{{nritems}} items</a> in your cart.</p>
                                        <p class="subtotal">
                                                <span class="label">Cart Subtotal:</span>
                                                <span class="price">{{cart.getTotal}}US$</span>
                                            </p>
                            </div>
                            <div class="actions">
                                <button type="button" title="Checkout" class="button" onclick="window.location = '/checkout/checkoutBilling'" ><span><span>Checkout</span></span></button>
                            </div>
                            <p class="block-subtitle">Recently added item(s)</p>
                            
                             <ol id="cart-sidebar" class="mini-products-list">
                                 {%if cart|length>0  %}
                                   {%for product in cart.getCartItems  %}   
                                          <li class="item">
                                        <a href="{{path ('shop_shop_productpage', {'id' : product.getProductId.categoryid.id , 'productid':  product.getProductId.id})}}" title="{{ product.getProductId.title}}" class="product-image">
                                            <img src="{{asset ('bundles/shopshop/image/' ~  product.getProductId.filename)}}" width="50" height="50" alt="{{ product.getProductId.title}}" />
                                        </a>
                                            <div class="product-details">
                                                <a href="{{path ('shop_shop_removeitem', {'id' : product.getId})}}" title="Remove This Item" class="btn-remove">Remove This Item</a>
                                                <a href="{{path ('shop_shop_cartPage')}}" title="Edit item" class="btn-edit">Edit item</a>
                                                <p class="product-name"><a href="//product/{{product.getId}}">{{product.getTitle}}</a></p>
                                                <strong>{{product.getQuantity}}</strong> x
                                                <span class="price">{{product.getPrice}}US$</span>
                                            </div>
                                        </li> 
                                        {% else %}
                                       {% endfor %}
                                        {% endif %}
                                    </ol>
                        </div>
                    </div>
                </div>
                {%else%}
                       <div class="col-right sidebar">
                        <div class="block block-cart">
                        <div class="block-title">
                            <strong><span>My Cart</span></strong>
                        </div>
                        <div class="block-content">
                            <p class="empty">You have no items in your shopping cart.</p>
                        </div>
                    </div>
                    </div>
                {%endif%}
                        </div>
{%endblock%}