<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyBooks!{% endblock %}</title>
        {% block stylesheets %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shopshop/css/styles.css') }}" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shopshop/css/widgets.css') }}" media="all" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="wrapper">
                <div class="page">
                    <div class="header-container">
                        {%block header%}
                            <div class="header">
                                <div class="quick-access">
                                    <form id="search_mini_form" action="" method="get">
                                        <div class="form-search">
                                            <label for="search">Search:</label>
                                            <input id="search" onkeyup="showResult(this.value)" type="text" name="search" class="input-text" maxlength="128" />
                                            <button type="submit" title="Search" class="button"><span><span>Search!</span></span></button>
                                            {#  <div id="livesearch"></div> #}
                                                    </div>
                                                </form>
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <p class="welcome-msg">Welcome   {{app.user.username}} !</p>
                                                {%else%}
                                                 <p class="welcome-msg">Welcome guest !</p>
                                                {% endif %}
                                                <ul class="links">
                                              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                              {#  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
                                                        <li class="first" ><a href="{{ path('fos_user_profile_show') }}" title="My Account" >Dashboard</a></li>
                                                        <li><a href="" title="My Cart" class="top-link-cart">My Cart</a></li>
                                                        <li><a href="" title="Checkout" class="top-link-checkout">Checkout</a></li>
                                                        <li class="last"><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                                              {% else %}
                                                            <li class="first"><a href="{{ path('fos_user_security_login') }}">Login</a> </li>
                                                            <li class="last"><a href="" title="My Cart" class="top-link-cart">My Cart</a></li>
                                              {% endif %}

                                                            </ul>

                                                        </div>
                                                    </div>
                       {%endblock %}
                                                </div>
                       {%block navigator%}
                                                <div class="nav-container">
                                                <ul id="nav">
                                                <li class="level-0 level-top">
                                                <a href="{{ knp_menu_render('ShopShopBundle:Builder:mainMenu') }}" 
                                                   class="level-top" style="color:#d96708" ></a>
                                                </li>
                                        </ul>  
                                    </div>
                       {%endblock %}
                                                
                                {%block container%}

                                {%endblock%}
                                                  
                       {%block footer %}
                                                    <div class = "footer-container">
                                                        <div class = "footer">
                                                            <ul>
                                                                <li><a href = "#">About Us</a></li>
                                                                <li><a href = "#">Customer Service</a></li>
                                                                <li class = "last privacy"><a href = "#">Privacy Policy</a></li>
                                                            </ul>
                                                            <ul class = "links">
                                                                <li class = "first" ><a href = "#" title = "Site Map" >Site Map</a></li>
                                                                <li ><a href = "#" title = "Search Terms" >Search Terms</a></li>
                                                                <li ><a href = "#" title = "Orders and Returns" >Orders and Returns</a></li>
                                                                <li class = " last" ><a href = "#" title = "Contact Us" >Contact Us</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                       {%endblock %}
                                                </div>
                                            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
                                        </body>
                                    </html>
