{% trans_default_domain 'FOSUserBundle' %}
{#
<div class="validation-advice" id="advice-required-entry-email" style="">This is a required field.</div>

validation-failed
#}

<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="account-create">
                <div class="page-title">
                    <h1>Create an Account</h1>
                </div>
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="fieldset">
                        <h2 class="legend">Personal Information</h2>
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                            {{ form_label(form.firstName) }}
                                            <div class="input-box">
                                                {{ form_widget(form.firstName, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </div>
                                            <div class="field name-lastname">
                                            {{ form_label(form.lastName) }}
                                                    <div class="input-box">
                                                {{ form_widget(form.lastName, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field">
                                                    {{ form_label(form.email) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.email, { 'attr': {'class': 'input-text validate-email required-entry'} }) }}
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    {{ form_label(form.mobile) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.mobile, { 'attr': {'class': 'input-text'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field">
                                                    {{ form_label(form.gender) }}
                                                    <div class="input-box">
                                                        {% for child in form.gender %}
                                                                     {{ form_label(child) }}
                                                       
                                                                     {{ form_widget(child) }}
                                                            <br>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fieldset">
                                        <h2 class="legend">Login Information</h2>
                                        <ul class="form-list">
                                            <li>
                                                {{ form_label(form.username) }}
                                                <div class="input-box">
                                                    {{ form_widget(form.username, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </li>
                                            <li class="fields">
                                                <div class="field">
                                                    {{form_label(form.plainPassword['first']) }}
                                                    <div class="input-box">
                                                        {{form_widget(form.plainPassword['first'], { 'attr': {'class': 'input-text required-entry validate-password'} }) }}
                                                    </div>
                                                </div>
                                                <div class="field">
                                                   {{form_label(form.plainPassword['second']) }}
                                                    <div class="input-box">
                                                        {{form_widget(form.plainPassword['second'], { 'attr': {'class': 'input-text required-entry validate-cpassword'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {{form_rest(form)}}
                                    <div class="buttons-set">
                                        <p class="required">* Required Fields</p>
                                        <p class="back-link"><a href="{{path ('fos_user_security_login')}}" class="back-link"><small>&laquo; </small>Back</a></p>
                                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
