{% trans_default_domain 'FOSUserBundle' %}
<div class="main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="account-create">
                <div class="page-title">
                    <h1>Change password</h1>
                </div>
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                                    <div class="fieldset">
                                        <h2 class="legend">Login Information</h2>
                                        <ul class="form-list">
                                            <li class="fields">
                                            <div class="field">
                                                    {{form_label(form.current_password) }}
                                                    <div class="input-box">
                                                        {{form_widget(form.current_password, { 'attr': {'class': 'input-text required-entry validate-password'} }) }}
                                                        </div>
                                                    </div>

                                                </li>
                                            <li class="fields">
                                                <div class="field">
                                                    {{form_label(form.plainPassword['first']) }}
                                                    <div class="input-box">
                                                        {{form_widget(form.plainPassword['first'], { 'attr': {'class': 'input-text required-entry validate-password'} }) }}
                                                    </div>
                                                </div>
                                                <div class="field">
                                                   {{form_label(form.plainPassword['second']) }}
                                                    <div class="input-box">
                                                        {{form_widget(form.plainPassword['second'], { 'attr': {'class': 'input-text required-entry validate-cpassword'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {{form_rest(form)}}
                                    <div class="buttons-set">
                                        <p class="required">* Required Fields</p>
                                        <p class="back-link"><a href="{{path ('fos_user_profile_edit')}}" class="back-link"><small>&laquo; </small>Back</a></p>
                                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
