<div class="col-left sidebar">
            <div class="block block-account">
                <div class="block-title">
                    <strong><span>My Account</span></strong>
                </div>
                <div class="block-content">
                    {% set menuItem = knp_menu_get('ShopShopBundle:Builder:accountMenu') %}
                        {{ knp_menu_render(menuItem) }}
                </div>
            </div>
            {%if cart.getCartItems.snapshot%}
                        <div class="block block-cart">
                            <div class="block-title">
                                <strong><span>My Cart</span></strong>
                            </div>
                            <div class="block-content">
                                <div class="summary">
                                    {%set nritems =  0%}                                
                                    {%for product in cart.getcartItems%}
                                    {%set nritems = nritems + product.quantity %}
                                    {%endfor%}
                                        <p class="amount">There are <a href="{{path('shop_shop_cartPage')}}">{{nritems}} items</a> in your cart.</p>
                                        <p class="subtotal">
                                                <span class="label">Cart Subtotal:</span>
                                                <span class="price">{{cart.getTotal}}US$</span>
                                            </p>
                                        </div>
                                        <div class="actions">
                                            <button type="button" title="Checkout" class="button" onclick="window.location = '{{path('shop_shop_checkout1')}}'" ><span><span>Checkout</span></span></button>
                                        </div>
                                        <p class="block-subtitle">Recently added item(s)</p>

                                        <ol id="cart-sidebar" class="mini-products-list">
                                 {%if cart|length>0  %}
                                   {%for product in cart.getcartItems %}
                                                <li class="item">
                                                    <a href="{{path ('shop_shop_productpage', {'id' : product.getProductId.categoryid.id , 'productid':  product.getProductId.id})}}" title="{{ product.getProductId.title}}" class="product-image">
                                                        <img src="{{asset ('bundles/shopshop/image/' ~  product.getProductId.filename)}}" width="50" height="50" alt="{{ product.getProductId.title}}" />
                                                    </a>
                                                    <div class="product-details">
                                                        <a href="{{path ('shop_shop_removeitem', {'id' : product.getId})}}" title="Remove This Item" class="btn-remove">Remove This Item</a>
                                                        <a href="/shoppingCart/" title="Edit item" class="btn-edit">Edit item</a>
                                                        <p class="product-name"><a href="{{path ('shop_shop_productpage', {'id' : product.getProductId.categoryid.id , 'productid':  product.getProductId.id})}}">{{product.getTitle}}</a></p>
                                                        <strong>{{product.getQuantity}}</strong> x
                                                        <span class="price">{{product.getPrice}}US$</span>
                                                    </div>
                                                </li> 
                                        {% else %}
                                       {% endfor %}
                                        {% endif %}
                                            </ol>
                                        </div>
                                    </div>
                                  {%else%}
                               
                                    <div class="block block-cart">
                                        <div class="block-title">
                                            <strong><span>My Cart</span></strong>
                                        </div>
                                        <div class="block-content">
                                            <p class="empty">You have no items in your shopping cart.</p>
                                        </div>
                                    </div>
                               
                {%endif%}
        </div>