{% extends 'ShopShopBundle::bundle-layout.html.twig' %}
{%block container%}

<div class="main-container col2-right-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h1>Checkout</h1>
            </div>
            <ol class="opc" id="checkoutSteps">
                <li id="opc-billing" class="section slide2 allow active">
                    <div class="step-title">
                        <span class="number">2 / 5</span>
                        <h2>Shipping Information</h2>
                        <a href="#">Edit</a>
                    </div>
                    <div id="checkout-step-billing" class="step a-item">
                        <form action="{{ path('shop_shop_checkout2') }}" {{ form_enctype(form) }} method="POST" class="address_form_type">
                        {{ form_errors(form) }}
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                            {{ form_label(form.firstname) }}
                                            <div class="input-box">
                                                {{ form_widget(form.firstname, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </div>
                                            <div class="field name-lastname">
                                            {{ form_label(form.lastname) }}
                                                    <div class="input-box">
                                                {{ form_widget(form.lastname, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field">
                                                    {{ form_label(form.email) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.email, { 'attr': {'class': 'input-text validate-email required-entry'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="wide">
                                                <div class="field">
                                                    {{ form_label(form.address) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.address, { 'attr': {'class': 'input-text  required-entry'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                            {{ form_label(form.city) }}
                                            <div class="input-box">
                                                {{ form_widget(form.city, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </div>
                                            <div class="field name-lastname">
                                            {{ form_label(form.country) }}
                                                    <div class="input-box">
                                                {{ form_widget(form.country, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="control">
                                            </li>
                                        </ul>
                                    {{form_rest(form)}}
                                    <div class="buttons-set">
                                        <p class="required">* Required Fields</p>
                                        <p class="back-link"><a href="{{path('shop_shop_checkout1')}}" ><small>« </small>Back</a></p>
                                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                                    </div>
                                </form>
                    </div>
                </li>
            </ol>
        </div>

    </div>
</div>



{%endblock%}