{% extends 'ShopShopBundle::bundle-layout.html.twig' %}
{%block container%}
<div class="main-container col2-left-layout">
    <div class="main">
        <div class="col-main">
            {% for flashMessage in app.session.flashbag.get('notice-failure') %}
                <div id="messages_product_view">
                    <ul class="messages">
                        <li class="error-msg">
                            <ul>
                                <li><span>{{flashMessage}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('notice-success') %}
                <div id="messages_product_view">
                    <ul class="messages">
                        <li class="success-msg">
                            <ul>
                                <li><span>{{flashMessage}}</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            <div class="account-create">
                <div class="page-title">
                    <h1>Account Information</h1>
                </div>
                <form action="{{ path('shop_shop_shipping') }}" {{ form_enctype(form) }} method="POST" class="address_form_type">
                    <div class="fieldset">
                        <h2 class="legend">Shipping address</h2>
                        {{ form_errors(form) }}
                        <ul class="form-list">
                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                            {{ form_label(form.firstname) }}
                                            <div class="input-box">
                                                {{ form_widget(form.firstname, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </div>
                                            <div class="field name-lastname">
                                            {{ form_label(form.lastname) }}
                                                    <div class="input-box">
                                                {{ form_widget(form.lastname, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="field">
                                                    {{ form_label(form.email) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.email, { 'attr': {'class': 'input-text validate-email required-entry'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="wide">
                                                <div class="field">
                                                    {{ form_label(form.address) }}
                                                    <div class="input-box">
                                                        {{ form_widget(form.address, { 'attr': {'class': 'input-text  required-entry'} }) }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="fields">
                                <div class="customer-name">
                                    <div class="field name-firstname">
                                            {{ form_label(form.city) }}
                                            <div class="input-box">
                                                {{ form_widget(form.city, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                </div>
                                            </div>
                                            <div class="field name-lastname">
                                            {{ form_label(form.country) }}
                                                    <div class="input-box">
                                                {{ form_widget(form.country, { 'attr': {'class': 'input-text required-entry'} }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    {{form_rest(form)}}
                                    <div class="buttons-set">
                                        <p class="required">* Required Fields</p>
                                        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                                    </div>
                                </form>
            </div>
        </div>
        {% include 'ShopShopBundle::CartSidebar/leftSidebar.html.twig' %}
    </div>
</div>
{%endblock%}